/* Swipe works with mouse as well but often causes text selection. */
#demo-page * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/* Arrow only buttons in the header. */
#demo-page .ui-header .ui-btn {
    background: none;
    border: none;
    top: 9px;
}
#demo-page .ui-header .ui-btn-inner {
    border: none;

}
/* Content styling. */
dl { font-family: "Times New Roman", Times, serif; padding: 1em; background-color: red;}
dt { font-size: 2em; font-weight: bold; }
dt span { font-size: .5em; color: #777; margin-left: .5em; }
dd { font-size: 1.25em; margin: 1em 0 0; padding-bottom: 1em; border-bottom: 1px solid #eee; background-color: red;}
.back-btn { float: right; margin: 0 2em 1em 0;   }


/*  MODIFICADO */ 

#left-panel{
    background-color: #FFFDF4; 
}

#bg-VC{
    
    background-color: #7C0025;
    height:50px; 
    margin: 0 auto;
    padding: 0;
    width: 100%;

}
.ui-panel-inner{
    margin:0 !important;
    padding: 0 !important;
}
#h1-VC{
    font-size: 20px;
   /*border: 2px solid yellow;*/
}
.top-VC{
    background-color: #7C0025;
    height: 48px;
    /*border: 4px solid blue;*/
}
#logo-VC{
    display: block;
    margin: 0px auto;
    padding-top: 7px;
    width: 200px;
  /*  border: 1px solid green;*/
}
#lista-VC{
    list-style: none;
   /* border: 1px solid red;*/
    padding:0;
    background-color: #FFFDF4;
}
#lista-VC li{
    padding:4px;
}
#lista-VC li a{
    /*border: 5px solid red;*/
    color: black;
    display: block;
    font-size: 36px;
    text-decoration: none;
    text-transform: capitalize;
   
    background-repeat: no-repeat;
    background-position: 5px 18px;
    padding: 10px 0 0 40px;
    
}
#a1-VC{
    background-image: url("img/intranet.png") ;
}
#a2-VC{
    background-image: url("img/novedades.png") ;   
}
#a3-VC{
    background-image: url("img/agenda.png") ;
}
#a4-VC{
    background-image: url("img/cafeteria.png") ;
}
#a5-VC{
    background-image: url("img/ubicanos.png") ;
}
#a6-VC{
    background-image: url("img/redes_sociales.png") ;
}
#a7-VC{
    background-image: url("img/biblioteca.png") ;   
}
#a8-VC{
    background-image: url("img/contacto.png") ;
}



#a1-VC:hover{
    background-color: #7C0025;
    background-image: url("img/intranetV.png") ;
    color:white;
}
#a2-VC:hover{
    background-color: #7C0025;
    background-image: url("img/novedadesV.png") ;
    color:white;
}
#a3-VC:hover{
    background-color: #7C0025;
    background-image: url("img/agendaV.png") ;
    color:white;
}
#a4-VC:hover{
    background-color: #7C0025;
    background-image: url("img/cafeteriaV.png") ;
    color:white;
}
#a5-VC:hover{
    background-color: #7C0025;
    background-image: url("img/ubicanosV.png") ;
    color:white;
}
#a6-VC:hover{
    background-color: #7C0025;
    background-image: url("img/redesV.png") ;
    color:white;
}
#a7-VC:hover{
    background-color: #7C0025;
    background-image: url("img/bibliotecaV.png") ;
    color:white;
}
#a8-VC:hover{
    background-color: #7C0025;
    background-image: url("img/contactoV.png") ;
    color:white;
}


